@model GlobalTemp.Models.WeatherModel

@{
    ViewData["Title"] = "20210429A";
}

<div>
    <div class="card text-white bg-primary mb-3" style="max-width: 40rem;">

        <div class="card-header text-center">
            <h4 class="title">Gobal Temperature Finder</h4>
            <p class="title" style="font-size:small;">Get the current temperature of any city in the world</p>
        </div>

        @{
            string cityDpy = String.Empty;
            string ctryDpy = String.Empty;
            if (Model != null)
            {

                if (!String.IsNullOrEmpty(Model.CityName))
                {
                    cityDpy += Model.CityName;
                }
                if (!String.IsNullOrEmpty(Model.CountryName))
                {
                    ctryDpy += Model.CountryName;
                }

                string ctryFlagUrl = String.Empty;
                if (String.IsNullOrEmpty(Model.countryFlagUrl) == false)
                {
                    ctryFlagUrl = @Model.countryFlagUrl;
                }

                string cityTempDpyF = String.Empty;
                string cityTempDpyC = String.Empty;
                if (float.IsNaN(Model.CityTempVal) == false)
                {
                    double cityTempValF = @Model.CityTempVal;
                    cityTempDpyF = cityTempValF.ToString("0.#") + " °F";
                    double cityTempValC = 5.0 * (cityTempValF - 32.0) / 9.0;
                    cityTempDpyC = cityTempValC.ToString("0.#") + " °C";
                }

                string errMsgToUser = Model.ErrMsgToUser;
                bool errFlag = !string.IsNullOrEmpty(errMsgToUser);


                <div class="card-body text-center" style="padding:0px 0px 0px 0px">

                    <table class="table table-bordered">
                                <tbody>
                                    @if (errFlag == false)
                                    {
                                        <tr>
                                            <td class="title">City</td>
                                            <td class="data align-middle" colspan="2">@cityDpy</td>
                                        </tr>

                                    <tr>
                                        <td class="title">Country</td>
                                        <td class="data">@ctryDpy</td>
                                        @if (string.IsNullOrEmpty(ctryFlagUrl) == false)
                                        {
                                            <td><img src="@ctryFlagUrl" alt="Image here" /></td>
                                        }
                                    </tr>

                                    <tr>
                                        <td class="title">Temperature</td>
                                        <td class="data"><h4>@cityTempDpyC</h4></td>
                                        <td class="data"><h4>@cityTempDpyF</h4></td>
                                    </tr>
                                    }

                                    @if (errFlag)
                                    {
                                        <tr>
                                            <td class="title">Message</td>
                                            <td class="data" colspan="2">@errMsgToUser</td>
                                        </tr>

                                    }

                                </tbody>
                    </table>

                </div>







            }
        }

        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            <table class="table" style="margin: 0px;">
                <tbody>
                    <tr>
                        <td colspan="2"><label class="title">Enter just the name of a city</label></td>
                    </tr>
                    <tr>
                        <td>@Html.TextBoxFor(m => m.CityNameFromUser, new { @class = "text-center" })</td>
                        <td><input type="submit" value="Submit" /></td>
                    </tr>
                </tbody>
            </table>
        }

    </div>
</div>