@model GlobalTemp.Models.WeatherModel

@{
    ViewData["title2"] = "";
}

<div>
    <div class="card text-white bg-primary mb-3" style="max-width: 40rem;">

        <div class="card-header text-center">
            <h4 class="title1">Gobal Temperature Finder</h4>
            <p class="title2">Get the current temperature of any city in the world v3</p>
        </div>

        @{
            string cityDpy = String.Empty;
            string ctryDpy = String.Empty;
            if (Model != null)
            {

                if (!String.IsNullOrEmpty(Model.CityName))
                {
                    cityDpy += Model.CityName;
                }

                if (!String.IsNullOrEmpty(Model.CountryName))
                {
                    ctryDpy += Model.CountryName;
                }

                string ctryFlagUrl = String.Empty;
                if (String.IsNullOrEmpty(Model.countryFlagUrl) == false)
                {
                    ctryFlagUrl = @Model.countryFlagUrl;
                }

                string cityTempDpyF = String.Empty;
                string cityTempDpyC = String.Empty;
                if (float.IsNaN(Model.CityTempVal) == false)
                {
                    double cityTempValF = @Model.CityTempVal;
                    cityTempDpyF = cityTempValF.ToString("0.#") + " °F";
                    double cityTempValC = 5.0 * (cityTempValF - 32.0) / 9.0;
                    cityTempDpyC = cityTempValC.ToString("0.#") + " °C";
                }

                string sunriseDpy = String.Empty;
                if(Model.SunriseDT != null)
                {
                    // 4/13/2021 2:29:21 AM
                    sunriseDpy = Model.SunriseDT.ToString();
                    sunriseDpy = sunriseDpy.Substring(sunriseDpy.IndexOf('\u0020') + 1);
                }
                string sunsetDpy = String.Empty;
                if (Model.SunsetDT != null)
                {
                    sunsetDpy = Model.SunsetDT.ToString();
                    sunsetDpy = sunsetDpy.Substring(sunsetDpy.IndexOf('\u0020') + 1);
                }
                string curDateDpy = String.Empty;
                string curTimeDpy = String.Empty;
                if (Model.nowDT != null)
                {
                    string tempStr = Model.nowDT.ToString("yyyy-MM-dd hh:mm tt");
                    curDateDpy = tempStr.Substring(0, tempStr.IndexOf('\u0020') );
                    curTimeDpy = tempStr.Substring(tempStr.IndexOf('\u0020') + 1);
                }

                string errMsgToUser = Model.ErrMsgToUser;
                bool errFlag = !string.IsNullOrEmpty(errMsgToUser);


                <div class="card-body text-center" style="padding:0px 0px 0px 0px">

                    <table class="table table-bordered">
                                <tbody>
                                    @if (errFlag == false)
                                    {
                                        <tr>
                                            <td class="title2">City</td>
                                            <td class="data align-middle" colspan="2">@cityDpy</td>
                                        </tr>

                                        <tr>
                                            <td class="title2">Country</td>
                                            <td class="data">@ctryDpy</td>
                                            @if (string.IsNullOrEmpty(ctryFlagUrl) == false)
                                            {
                                                <td><img src="@ctryFlagUrl" alt="Image here" /></td>
                                            }
                                        </tr>

                                        <tr>
                                            <td class="title2">Now</td>
                                            <td class="data"><h6>@curDateDpy</h6></td>
                                            <td class="data"><h6>@curTimeDpy</h6></td>
                                        </tr>

                                        <tr>
                                            <td class="title2">Temperature</td>
                                            <td class="data"><h4>@cityTempDpyC</h4></td>
                                            <td class="data"><h4>@cityTempDpyF</h4></td>
                                        </tr>


                                        <tr>
                                            <td class="title2">Sun rise/set</td>
                                            <td class="data"><h6>@sunriseDpy</h6></td>
                                            <td class="data"><h6>@sunsetDpy</h6></td>
                                        </tr>

                                    }

                                    @if (errFlag)
                                    {
                                        <tr>
                                            <td class="title2">Message</td>
                                            <td class="data" colspan="2">@errMsgToUser</td>
                                        </tr>

                                    }

                                </tbody>
                    </table>

                </div>







            }
        }

        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            <table class="table" style="margin: 0px;">
                <tbody>
                    <tr>
                        <td colspan="2"><label class="title2">Enter just the name of a city</label></td>
                    </tr>
                    <tr>
                        <td>@Html.TextBoxFor(m => m.CityNameFromUser, new { @class = "text-center" })</td>
                        <td><input type="submit" value="Submit" /></td>
                    </tr>
                </tbody>
            </table>
        }

    </div>
</div>